AUTH0_SECRET='REPLACE ME'
APP_BASE_URL='REPLACE ME'
AUTH0_DOMAIN='REPLACE ME'
AUTH0_CLIENT_ID='REPLACE ME'
AUTH0_CLIENT_SECRET='REPLACE ME'
#AUTH0_AUDIENCE=
AUTH0_SCOPE='openid profile'

## MongoDB settings
MONGO_SERVER_URL='mongodb://localhost:27017'
MONGODB_DB='554FinalProject'

## Ollama settings
OLLAMA_MODEL_NAME="qwen3:4b"  # Choose based on your system limits
OLLAMA_API_URL='http://localhost:11434'

## Redis settings (to be added later
